* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-image: url("./assets/default.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rain {
  background-image: url(./assets/rain.jpg);
}
.sunny {
  background-image: url(./assets/sunny.jpg);
  background-size: cover;
  background-position: 100% 20%;
  // background-repeat: no-repeat;
}
.cloudy {
  background-image: url(./assets/cloud.jpg);
  background-size: cover;
  background-position: 100% 40%;
}
.snow {
  background-image: url(./assets/snow.jpg);
}

main {
  height: 97.8vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;

  .search-box {
    width: 100%;
    margin: 0 0 75px 0;
    // padding: 2%;
    form {
      width: 100%;
      .search-bar {
        padding: 2%;
        width: 100%;
        // padding: 20px;
        background: none;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0px 0px 16px 16px;
        box-shadow: 0px 8px rgba(255, 255, 255, 0.4);
        font-size: 20px;
        color: rgb(44, 41, 48);
        transition: 0.4s ease;
      }
      .search-bar:focus {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
  .location-box {
    .location {
      color: #fff;
      font-size: 35px;
      font-weight: 500;
      text-align: center;
      text-shadow: 3px 3px rgba(50, 50, 70, 0.75);
    }
    .date {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      text-align: center;
      text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    }
  }
  .weather-box {
    text-align: center;
    .temperature {
      position: relative;
      display: inline-block;
      margin: 30px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      padding: 15px 25px;
      color: #fff;
      font-size: 102px;
      font-weight: 900;
      text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
      text-align: center;
      box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    }
    .Rainy {
      color: #fff;
      font-size: 50px;
      font-weight: 700;
      text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    }
  }
}
.footer {
  color: rgb(244, 250, 253);
  text-align: center;
  .span {
    color: red;
    border: red solid 2px;
  }
}
