* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}
.app {
  background-image: url("./assets/rain.jpg");
  background-size: cover;
  background-position: bottome;
  transition: 0.4 ease-out;
  .rain {
    background-image: url(./assets/rain.jpg);
  }
  .sunny {
    background-image: url(./assets/sunny.jpg);
  }
  .cloudy {
    background-image: url(./assets/cloud.jpg);
  }
  .snow {
    background-image: url(./assets/snow.jpg);
  }
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}
.search-box {
  width: 100%;
  margin: 0 0 75px;
  .search-bar {
    display: block;
    width: 100%;
    padding: 20px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;
    box-shadow: 0px 8px rgba(255, 255, 255, 0.4);
    font-size: 20px;
    color: rgb(44, 41, 48);
    transition: 0.4s ease;
  }
  .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
  }
}
